Package: com.cokepokes.libnotifications
Name: libnotifications
Version: 0.1-1
Description: App notification library.
Section: Tweaks
Depends: firmware (>= 10.0), mobilesubstrate
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: CokePokes
dev: 
Homepage: 
Depiction: https://github.com/CokePokes/libnotifications
Maintainer: CokePokes
Icon: 

